
.back{ 
 background-color: #EAEDED !important;
}
body{
  background-image: url("../images/back1.jpg");
  background-attachment: fixed;
  background-size: 100% ;
}
.navbar{
  background-color:none;
  padding-bottom: 1px;
  padding-top: 1px;
}
.top-nav{
  background-color: rgba(0,0,0,0.3);
}
.navbar img{
  
}
.navbar li a{
  color:#fff;
  font-size: 20px;
  font-family: roboto;
  
  margin-right: 20px;
  padding: 25px;
}
.logo {

  float: left;
  border-radius: 50%;
}
.bodyback{
  font-family: roboto;
  background-color:  none;
  padding: 3% ;
  padding-right:25%;
  padding-left:25%;
  
}
.content1{

  margin-right: 10%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 1%;
  padding:8%;
  padding-right:20%;
  padding-left:20%;
}
.content1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.content1 input{
  text-align: center;
}
.logo1 img{
  border-radius: 50%;
  width:100px;
  height: 100px;
  margin-bottom: 20px;
}
.sign-up-form button{
  padding: 10px 45px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #3f7996;
  border-color: #2c607a;
}
table{
  width: 100%;
}

.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
/*@media (max-width: 992px) {*/
  ./*alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}*/
